{% load static %}
{% block body %}
<center>
<form method="post" class="container" style="margin-top: 50px; width:500px;">
    {% csrf_token %}
  <h3 style="text-align:center; margin-bottom:50px; color:green;">Admin Login Form</h3>
  {% for message in messages %}
    <h5 style="text-align:center; color:red; margin-bottom:50px;"><label>{{message}}</label></h5>
  {% endfor %}
  <div class="mb-3">
    <label for="exampleInputuser" class="form-label">Username</label>
    <input name="username" type="text" class="form-control" id="exampleInputuser" aria-describedby="userHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</center>
{% endblock %}